<article class="card">
  <picture class="card__img">
    <img src="/src/assets/photos/{{imgName}}" alt="{{imgAlt}}" />
  </picture>
  <h3 class="card__title">
    <a href="{{link}}">{{title}}</a>
  </h3>
  <div class="card__caption">
    <p class="card__date">{{date}}</p>
    <p class="card__excerpt">{{excerpt}}</p>
    <a class="card__link" href="{{link}}">Plus d'info</a>
  </div>
</article>